<html>

<head>

	<title>Salasc's Site</title>

</head>

<body>

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<div class="logo"> <%= image_tag "logo.png", :class => "icon"%>
					<p style="font-size:14px;display:inline-block">
						<strong>
							<i>
								“The people who are crazy enough to think
										 <br>
								 they can change the world are the ones who do.”
							</i>
					 </strong>
					</p>
				</div>
				<h2>Christian Salas</h2>
				<p> Full Stack Developer + Wayfarer + Gym Enthusiast </p>
			</div>
		</section>

		<!-- Wrapper -->
		<section id="wrapper">

			<!-- One -->
			<section id="one" class="wrapper spotlight style1">
				<div class="inner" id="aboutMe">
          <%= image_tag "pic01.jpg", :class => "image" %>
					<div class="content">
						<h2 class="major">What I can do</h2>
						<p>I can build a fully functional full stack website. I primarily focus on Ruby and Rails, but I also took the liberty to teach myself Python because I wanted to challenge myself to learn a new language. I'm also comfortable working in Javascript, JQuery, Ajax, HTML, CSS, Sinatra, Heroku, AWS, PostgreSQL, SQL, Git, Bash, Agile Development, and Wire framing</p>
					</div>
				</div>
			</section>

			<!-- Two -->
			<section id="two" class="wrapper alt spotlight style2">
				<div class="inner" id="aboutMe">
          <%= image_tag "pic02.jpg", :class => "image" %>
					<div class="content">
						<h2 class="major">As A Developer</h2>
						<p>Coding just to code is fun, but coding to impact the lives of others is powerful. My passion lies with writing readable, maintanable, and scalable code. I enjoy challenges and projects that push my boundaries and knowledge that allow me to learn something new, such as learning a new language and different techniques to become a stronger engineer. My goal is to continously build meaningful applications that change the way technology is used. </p>
					</div>
				</div>
			</section>

			<!-- Three -->
			<section id="three" class="wrapper spotlight style3">
				<div class="inner" id="aboutMe">
          <%= image_tag "pic03.jpg", :class => "image" %>
					<div class="content">
						<h2 class="major">As An Average Person</h2>
						<p>I enjoy exploring and long walks around different neighborhoods. When I'm not in front of a computer coding, you can find me at the gym lifting weights. I'm also a hardcore gamer at heart and enjoy keeping up with the latest technology to fuel my creative mind to build more meaningful projects. </p>
					</div>
				</div>
			</section>

			<!-- Four -->
			<section id="four" class="wrapper alt style1">
				<div class="inner">
					<h2 class="major">Projects</h2>
					<section class="features">
						<article>
              <%= image_tag "lyrically-challenged.jpg", :class => "image" %>
							<h3 class="major">Lyrically Challenged</h3>
							<p>Developed a decoupled web app that allows users to search for music by hitting our backend that houses our multiple API calls. Was responsible for handling our different API calls. Created with Ruby, Rails, JavaScript, HTML/CSS.</p>
							<a href="http://lyricallychallenged.herokuapp.com/" class="special">Check it out here</a>
						</article>
						<article>
              <%= image_tag "handup.png", :class => "image", :style => "height: 170px" %>
							<h3 class="major">Hand Up</h3>
							<p>A social network similar to LinkedIn for nonprofits that allows organizations to create a profile, post different needs, and find volunteers to help. Responsible for handling the requests from the server to the database. Created with Python, Django,
								JavaScript, HTML/CSS.</p>
							<a href="https://github.com/SalasC2/HandUp" class="special">Check it out here</a>
						</article>
						<article>
              <%= image_tag "jekyll-ruby-gem.jpg", :class => "image", :style => "height: 170px" %>

							<h3 class="major">Jekyll Google Forms Gem</h3>
							<p>Ruby Gem where users can create their own custom Google Forms in a Jekyll website. Responsible for making gem executable with Google Forms.</p>
							<a href="https://github.com/SalasC2/GoogleFormsGem" class="special">Check it out here</a>
						</article>
						<article>
              <%= image_tag "penelope.jpg", :class => "image", :style => "height: 170px" %>
							<h3 class="major">Penelope</h3>
							<p>A voice recognition app that allows a user to navigate through the site hands free by using their voice. Responsible for creating the UI and handling the requests for the backend to send back the correct data. Created with JavaScript, HTML/CSS.</p>
							<a href="http://penelope-voice.herokuapp.com" class="special">Check it out here</a>
						</article>
					</section>
					<ul class="actions">
						<li><a href="images/resume.pdf" class="button">Resume</a></li>
					</ul>
				</div>
			</section>

		</section>

		<!-- Footer -->
		<section id="footer">
			<div class="inner">
				<h2 class="major">Get in touch</h2>
					<%= form_for @contact, :url => home_index_path(@contact), :html => {:id => "ajax-contact"}, remote: true do |f| %>
						<div class="field">
							<%= text_field_tag "contact[name]", nil, id: "name", placeholder: "Name", :required => true %>
						</div>

						<div class="field">
							<%= email_field_tag "contact[email]", nil, id: "email", placeholder: "Email", :required => true %>
						</div>

						<div class="field">
							<%= text_field_tag "contact[message]", nil, id: "message", placeholder: "Message", :required => true %>
						</div>

						<div class="field">
							<button type="submit"> Send Message</button>
						</div>
				<% end %>
				<ul class="contact">
					<li class="fa-phone">(415) 304-3918</li>
					<li class="fa-envelope"><a href="mailto:salasch2@gmail.com">salasch2@gmail.com</a></li>
					<li class="fa-linkedin"><a href="https://www.linkedin.com/in/salasc">linkedin.com/in/salasc</a></li>
					<li class="fa-github"><a href="https://www.github.com/salasc2">github.com/salasc2</a></li>
				</ul>

				<h4 style="line-height: 500%;"><div id="success" style="color:red;"></div></h4>

				<ul class="copyright">
					<li>&copy; CHRISTIANSALAS </li>
					</li>
				</ul>
			</div>
		</section>

	</div>

</body>

</html>
